/.env
node_modules
polyfills/Intl/~locale/**/detect.js
polyfills/Intl/~locale/**/tests.js
polyfills/Intl/~locale/**/polyfill.js
polyfills/Intl/~locale/**/config.toml
polyfills/__dist/
polyfills/~html5-elements/polyfill.js
polyfills/AudioContext/polyfill.js
polyfills/EventSource/polyfill.js
polyfills/HTMLPictureElement/polyfill.js
polyfills/Intl/polyfill.js
polyfills/JSON/polyfill.js
polyfills/MutationObserver/polyfill.js
polyfills/ResizeObserver/polyfill.js
polyfills/Promise/polyfill.js
polyfills/UserTiming/polyfill.js
polyfills/WebAnimations/polyfill.js
polyfills/_TypedArray/polyfill.js
polyfills/atob/polyfill.js
polyfills/fetch/polyfill.js
polyfills/HTMLTemplateElement/polyfill.js
polyfills/Element/prototype/inert/polyfill.js
.nyc_output/
polyfills/String/prototype/normalize/polyfill.js
polyfills/AbortController/polyfill.js
polyfills/smoothscroll/polyfill.js
